---
import type { CollectionEntry } from 'astro:content';
import Tag from './ui/Tag.astro';


type Props = {
  article: CollectionEntry<'blog'>;
}

const { article } = Astro.props as Props;

const { title, date, tags, published } = article.data;

const formatedDate = new Date(date).toLocaleDateString("fr-FR");

---

<article class="relative isolate flex items-center rounded-xl p-2 -ml-2 transition-all ease-in duration-300 group-hover:not-hover:opacity-20 group-hover:has-hover:scale-102">
  <div class="flex-1">
    <h3>
      {published ? (
            <a href={`/blog/${article.id}`}>
                  <span class="absolute inset-0 z-10"></span>
                  {title}
            </a>
      ) : (
            <span>{title}</span>
      )}
    </h3>
    <div class="space-x-1">
      {tags.map((tag) => (
        <Tag label={tag} />
      ))}
    </div>
  </div>
  {published ? (
    <time datetime={formatedDate} class="text-sm"><span>{formatedDate}</span></time>
  ) : (
    <span class="text-sm text-neutral-500">Bientôt disponible</span>
  )}
</article>
