---
import type { CollectionEntry } from 'astro:content';
import { getLangFromUrl, useTranslations, useTranslatedPath } from '../i18n/utils';

import Tag from './ui/Tag.astro';

type Props = {
  article: CollectionEntry<'blog'>;
}
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

const { article } = Astro.props as Props;
const { title, publishingDate, tags, href } = article.data;
const formatedDate = new Date(publishingDate).toLocaleDateString(lang === 'fr' ? 'fr-FR' : 'en-EN', { month: 'short', year: 'numeric' });

---

<article class="relative isolate flex items-center rounded-xl p-2 -ml-2 transition-all ease-in duration-300 group-hover:not-hover:opacity-20 group-hover:has-hover:scale-102">
  <div class="flex-1">
    <h3>
        <a href={translatePath(`/blog/${href}/`, lang)}>
                <span class="absolute inset-0 z-10"></span>
                {title}
        </a>
    </h3>
    {tags && (
      <div class="space-x-1">
        {tags.map((tag) => (
          <Tag label={tag} />
        ))}
      </div>
    )}
  </div>
  <time datetime={formatedDate} class="text-sm text-neutral-500"><span>{formatedDate}</span></time>
</article>
