---
import Schemas from './Schemas.astro';

import ogImage from '@/../public/assets/images/dev_fullstack_chambery_grenoble.webp';

type Props = {
  title: string;
  metaTitle?: string;
  metaDescription: string;
}

const SITE_URL = import.meta.env.SITE_URL;

const pathname = new URL(Astro.request.url).pathname.replace(".html", "");

const { title, metaTitle, metaDescription } = Astro.props

---

<title>{title || metaTitle}</title>
<meta name="robots" content="index, follow" />
<meta name="description" content={metaDescription} />
<meta content={metaTitle || title} name="og:title" />
<meta content={metaDescription} name="og:description" />
<meta content={metaTitle || title} name="twitter:title" />
<meta content={metaDescription} name="twitter:description" />
<meta name="twitter:image" content={`${SITE_URL}${ogImage.src}`} />
<meta property="og:image" content={`${SITE_URL}${ogImage.src}`} />
<meta content="Victor Lebecq - Développeur fullstack à Chambéry et Grenoble" name="og:site_name" />
<meta content={SITE_URL} name="og:url" />
<meta content="website" name="og:type" />
<link rel="canonical" href={`${SITE_URL}${pathname}`} />
<link rel="home" href={`${SITE_URL}`} />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<meta content="fr" name="og:locale" />
<link rel="sitemap" href="/sitemap-index.xml" />
<Schemas />
