---
import Schemas from './Schemas.astro';

import ogImage from '@/../public/assets/images/og-image.png';

type Props = {
  title: string;
  metaTitle?: string;
  metaDescription: string;
}

const SITE_URL = import.meta.env.SITE_URL;

const pathname = new URL(Astro.request.url).pathname.replace(".html", "");

const { title, metaTitle, metaDescription } = Astro.props

---

<title>{title || metaTitle}</title>
<meta name="robots" content="index, follow" />
<meta name="description" content={metaDescription} />
<meta content={metaTitle || title} name="og:title" />
<meta content={metaDescription} name="og:description" />
<meta content={metaTitle || title} name="twitter:title" />
<meta content={metaDescription} name="twitter:description" />
<meta name="twitter:image" content={`${SITE_URL}${ogImage.src}`} />
<meta property="og:image" content={`${SITE_URL}${ogImage.src}`} />
<meta content="Digit'Alp" name="og:site_name" />
<meta content={SITE_URL} name="og:url" />
<meta content="website" name="og:type" />
<link rel="canonical" href={`${SITE_URL}${pathname}`} />
<link rel="home" href={`${SITE_URL}`} />
<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
<meta content="fr" name="og:locale" />
<link rel="sitemap" href="/sitemap-index.xml" />


<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "Product",
    "name": "Victor Lebecq - Développeur web à Chambéry et Grenoble",
    "aggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": "5",
      "reviewCount": "13"
    }
  }
</script>

<Schemas />
