---
import type { CollectionEntry } from "astro:content";


type Props = {
  experience: CollectionEntry<"experiences">;
}

const { experience } = Astro.props as Props;
const { title, company, companyLogo, companyUrl, description, startDate, endDate, tags } = experience.data;

const displayedStartDate = new Date(startDate).toLocaleDateString("fr-FR", { month: 'numeric', year: 'numeric' });
const displayedEndDate = endDate === 'Present' ? 'Present' : new Date(endDate).toLocaleDateString("fr-FR", { month: 'numeric', year: 'numeric' });

---

<div class="flex flex-col items-start rounded-xl gap-1 transition-all ease-in duration-300 group-hover:not-hover:opacity-20">
    <div class="flex items-center justify-between w-full">
        <div class="sm:flex sm:items-center">
            <h3 class=""><a href={companyUrl} target="_blank">{company}</a></h3>
            <span class="hidden sm:inline">・</span>
            <h4 class="text-sm text-neutral-500 ">{title}</h4>
        </div>
        <span class="text-xs text-neutral-500">{displayedStartDate} - {displayedEndDate}</span>
    </div>
    <p class="text-sm !mt-0">{description}</p>
</div>
