---
import { ClientRouter } from 'astro:transitions';

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Launcher from '@/components/Launcher/Launcher.astro';
import Seo from '@/components/meta/Seo.astro';
import Analytics from '@/components/meta/Analytics.astro';
import FadedBackground from '@/components/FadedBackground.astro';

import { getLangFromUrl } from '../i18n/utils';
import '../styles/global.css';
import NoiseBackground from '@/components/NoiseBackground.astro';

const { title, metaTitle, metaDescription, pageType } = Astro.props;

const lang = getLangFromUrl(Astro.url);

---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<Seo title={title} metaTitle={metaTitle} metaDescription={metaDescription} pageType={pageType} />
		<Analytics />
		<script>
			(function() {
      const savedTheme = localStorage.getItem('theme');
      if (savedTheme) {
        document.body.setAttribute('data-theme', savedTheme);
      }
    	})();
		</script>
		<ClientRouter />
	</head>

	<body
		data-theme="dark"
		data-modal="close"
		class="bg-neutral-100 font-sans font-medium text-neutral-900 dark:bg-neutral-900 dark:text-neutral-100 overflow-auto data-[modal=open]:overflow-hidden data-[modal=open]:overscroll-contain data-[modal=open]:pointer-events-none data-[modal=open]:!mr-[15px]"
	>
	<NoiseBackground />
	
	<div class="mx-auto max-w-3xl overflow-x-hidden px-4 pt-12 antialiased sm:px-6 sm:pt-16 md:overflow-x-visible">
		<Header />
		<slot />
		<Footer />
	</div>
	<Launcher />
	</body>

	<script>
		import { checkSavedTheme } from "@/utils/theme";
		document.addEventListener('astro:page-load', () => {
			checkSavedTheme();
		});
	</script>
</html>
